@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap");
body {
  background-image: url(/images/pexels-scott-webb-305821.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
nav a,
#cdc-icon {
  text-decoration: none;
  padding: 10px 16px;
  color: #58894c;
  font-family: "lucida sans";
  font-weight: bold;
}
nav a:hover,
#cdc-icon:hover,
#cdc-content a:hover {
  text-decoration: underline;
  opacity: 0.8;
  color: black;
}
#cdc-content {
  display: none;
  position: absolute;
  text-align: center;
  right: 10px;
  width: min-content;
}
#cdc-content a {
  display: block;
  font-size: small;
}
#cdc-content a:hover {
  background-color: rgba(187, 169, 169, 0.66);
  border-radius: 1mm;
}
#cdc:hover #cdc-content {
  display: block;
}
#hamburger-icon {
  display: none;
}
.calculator-container {
  display: flex;
  background-color: #4c8989;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  border-radius: 4mm;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 550px;
  align-items: center;
}
#input-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
#input-field {
  height: 70px;
  border: none;
  border-radius: 2mm;
}
#input-field[placeholder] {
  text-align: right;
  font-size: 30px;
}
.button-container {
  display: flex;
  padding: 10px;
  margin-top: 5px;
  justify-content: space-between;
  width: 250px;
  height: fit-content;
}
.button-container-last {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 250px;
}
.buttons {
  width: 42px;
  height: 42px;
  border-radius: 1mm;
  border: none;
  background-color: aliceblue;
  cursor: pointer;
  font-family: monospace;
  font-size: 20px;
}
.buttons:hover {
  background-color: darkgrey;
  transform: translateY(-1px);
}
.buttons:active {
  transform: translateZ(2px);
}
#clear_button {
  background-color: red;
}
#clear_button:hover {
  background-color: rgba(88, 185, 255, 0.621);
}
#equals_sign {
  background-color: orange;
  width: 109px;
}
#equals_sign:hover {
  background-color: rgba(88, 185, 255, 0.621);
}
@media only screen and (max-width: 700px) {
  body {
    background-image: url(/images/pexels-scott-webb-305821.jpg);
    background-size: auto;
    background-repeat: no-repeat;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: right;
    text-align: right;
  }
  #hamburger-icon {
    display: block;
    width: 10%;
    float: right;
  }
  .navi-link {
    display: none;
    font-size: 10px;
  }
  nav:hover .navi-link {
    display: block;
    background-color: #7d7a7a;
    border-radius: 1mm;
    color: #e9e8e4;
  }
  #cdc-content {
    right: 5px;
    background-color: #7d7a7a;
    border-radius: 1mm;
  }
  #cdc-content a {
    display: block;
    font-size: 9px;
    color: #e9e8e4;
  }
  #cdc-icon {
    color: #e9e8e4;
  }
  #cdc-icon:hover {
    color: #e9e8e4;
  }
  .calculator-container {
    top: 350px;
    left: 40px;
  }
}
