@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap");
body {
  background-image: url(/images/pexels-scott-webb-305821.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
nav a,
#cdc-icon {
  text-decoration: none;
  padding: 10px 16px;
  color: #58894c;
  font-family: "lucida sans";
  font-weight: bold;
}
nav a:hover,
#cdc-icon:hover,
#cdc-content a:hover {
  text-decoration: underline;
  opacity: 0.8;
  color: black;
}
#cdc-content {
  display: none;
  position: absolute;
  text-align: center;
  right: 10px;
  width: min-content;
}
#cdc-content a {
  display: block;
  font-size: small;
}
#cdc-content a:hover {
  background-color: rgba(187, 169, 169, 0.66);
  border-radius: 1mm;
}
#cdc:hover #cdc-content {
  display: block;
}
#hamburger-icon {
  display: none;
}
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 120px;
  top: 60px;
  padding: 20px;
  width: fit-content;
  height: 480px;
  border-radius: 3mm;
}
#contact-us {
  font-size: 35px;
  font-family: montserrat;
  font-weight: 600;
  color: #58894c;
}
#name {
  width: 450px;
  height: 30px;
  border: none;
  font-family: "zen maru gothic";
  border-radius: 1mm;
}
#email {
  width: 450px;
  height: 30px;
  border: none;
  font-family: "zen maru gothic";
  border-radius: 1mm;
}
input[placeholder] {
  text-indent: 10px;
}
#message {
  width: 450px;
  height: 220px;
  border: none;
  font-family: "zen maru gothic";
  border-radius: 1mm;
}
textarea[placeholder] {
  text-indent: 10px;
}
#priority-box {
  width: 454px;
  height: 30px;
  border: none;
  font-family: "zen maru gothic";
  border-radius: 1mm;
}
#submit {
  font-family: montserrat;
  font-size: medium;
  font-style: lighter;
  height: 35px;
  width: 454px;
  background-color: #58894c;
  border: none;
  border-radius: 1mm;
  color: azure;
  cursor: pointer;
}
#submit:hover {
  background-color: #58894ca0;
}
#submit:active {
  transform: translateY(2px);
}
@media only screen and (max-width: 700px) {
  body {
    background-image: url(/images/pexels-scott-webb-305821.jpg);
    background-size: auto;
    background-repeat: no-repeat;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: right;
    text-align: right;
  }
  #hamburger-icon {
    display: block;
    width: 10%;
    float: right;
  }
  .navi-link {
    display: none;
    font-size: 10px;
  }
  nav:hover .navi-link {
    display: block;
    background-color: #7d7a7a;
    border-radius: 1mm;
    color: #e9e8e4;
  }
  #cdc-content {
    right: 2px;
    background-color: #7d7a7a;
    border-radius: 1mm;
  }
  #cdc-content a {
    display: block;
    font-size: 9px;
    color: #e9e8e4;
  }
  #cdc-icon {
    color: #e9e8e4;
  }
  #cdc-icon:hover {
    color: #e9e8e4;
  }
  .contact-section {
    left: 20px;
    top: 220px;
  }
  #contact-us {
    font-size: 20px;
    font-family: montserrat;
    font-weight: 600;
    color: #58894c;
  }
  #name {
    width: 250px;
    height: 30px;
    border: none;
    font-family: "zen maru gothic";
    border-radius: 1mm;
  }
  #email {
    width: 250px;
    height: 30px;
    border: none;
    font-family: "zen maru gothic";
    border-radius: 1mm;
  }
  input[placeholder] {
    text-indent: 10px;
  }
  #message {
    width: 250px;
    height: 220px;
    border: none;
    font-family: "zen maru gothic";
    border-radius: 1mm;
  }
  textarea[placeholder] {
    text-indent: 10px;
  }
  #priority-box {
    width: 254px;
    height: 30px;
    border: none;
    font-family: "zen maru gothic";
    border-radius: 1mm;
  }
  #submit {
    font-family: montserrat;
    font-size: medium;
    font-style: lighter;
    height: 35px;
    width: 254px;
    background-color: #58894c;
    border: none;
    border-radius: 1mm;
    color: azure;
    cursor: pointer;
  }
}
