@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap");
body {
  background-image: url(/images/pexels-scott-webb-305821.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
nav a,
#cdc-icon {
  text-decoration: none;
  padding: 10px 16px;
  color: #58894c;
  font-family: "lucida sans";
  font-weight: bold;
}
nav a:hover,
#cdc-icon:hover,
#cdc-content a:hover {
  text-decoration: underline;
  opacity: 0.8;
  color: black;
}
#cdc-content {
  display: none;
  position: absolute;
  text-align: center;
  right: 10px;
  width: min-content;
}
#cdc-content a {
  display: block;
  font-size: small;
}
#cdc-content a:hover {
  background-color: rgba(187, 169, 169, 0.66);
  border-radius: 1mm;
}
#cdc:hover #cdc-content {
  display: block;
}
#hamburger-icon {
  display: none;
}
#my-picture {
  position: absolute;
  left: 150px;
  top: 40px;
  box-sizing: border-box;
}
#my-picture img {
  border-radius: 10cm;
  position: absolute;
  top: 100px;
}
.main-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 260px;
  left: 150px;
}
#main-content-header {
  font-size: 320%;
  font-family: montserrat;
}
#main-content-welcome {
  position: absolute;
  top: 70px;
  font-size: 180%;
  font-family: "zen maru gothic";
  color: #58894c;
}
.contents {
  display: flex;
  border-radius: 4mm;
  width: 1280px;
  position: absolute;
  top: 520px;
  left: 130px;
  margin: auto;
  justify-content: space-around;
}
#about-me-section {
  display: inline-block;
  background-color: #58894c2c;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 2mm;
  width: 200px;
  height: 200px;
  text-align: center;
}
#about-me-section:hover {
  background-color: #58894c7d;
  transform: translateY(2px);
  font-size: 15px;
  width: 220px;
  height: 210px;
}
#my-goals {
  display: inline-block;
  background-color: #58894c2c;
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
}
#my-goals:hover {
  background-color: #58894c7d;
  transform: translateY(2px);
  font-size: 15px;
  width: 220px;
  height: 210px;
}
#education {
  display: inline-block;
  background-color: #58894c2c;
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
}
#education:hover {
  background-color: #58894c7d;
  transform: translateY(2px);
  font-size: 15px;
  width: 220px;
  height: 210px;
}
#job-experience {
  display: inline-block;
  background-color: #58894c84;
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
}
#job-experience:hover {
  background-color: #58894ccc;
  transform: translateY(2px);
  font-size: 15px;
  width: 220px;
  height: 210px;
}
#hobbies {
  display: inline-block;
  background-color: #58894c84;
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
}
#hobbies:hover {
  background-color: #58894ccc;
  transform: translateY(2px);
  font-size: 15px;
  width: 220px;
}
.section-header {
  font-family: "Lucida Sans";
  position: relative;
  bottom: 15px;
  text-decoration: underline;
}
.section-content {
  font-family: monospace;
  font-size: 100%;
  position: relative;
  bottom: 25px;
}

@media only screen and (max-width: 920px) {
  body {
    background-image: url(/images/pexels-scott-webb-305821.jpg);
    background-size: auto;
    background-repeat: no-repeat;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    float: right;
    text-align: right;
  }
  #hamburger-icon {
    display: block;
    width: 40%;
    float: right;
  }
  .navi-link {
    display: none;
    font-size: 10px;
  }
  nav:hover .navi-link {
    display: block;
    background-color: #7d7a7a;
    border-radius: 1mm;
    color: #e9e8e4;
  }
  #cdc-content {
    right: 2px;
    background-color: #7d7a7a;
    border-radius: 1mm;
  }
  #cdc-content a {
    display: block;
    font-size: 9px;
    color: #e9e8e4;
  }
  #cdc-icon {
    color: #e9e8e4;
  }
  #cdc-icon:hover {
    color: #e9e8e4;
  }
  #my-picture {
    display: block;
    width: 30%;
    position: relative;
    top: 30px;
    left: 105px;
  }
  .main-content {
    display: block;
    width: 60%;
    margin: auto;
    top: 280px;
    left: 80px;
    text-align: left;
  }
  #main-content-header {
    font-size: 130%;
    font-family: montserrat;
  }
  #main-content-welcome {
    position: relative;
    top: -20px;
    font-size: 110%;
    font-family: "zen maru gothic";
    color: #58894c;
  }
  .contents {
    display: block;
    width: 50%;
    margin: auto;
    left: 70px;
    position: absolute;
    top: 400px;
  }
  #about-me-section {
    display: block;
    margin-bottom: 10px;
    width: 250px;
  }
  #my-goals {
    display: block;
    margin-bottom: 10px;
    width: 250px;
  }
  #education {
    display: block;
    margin-bottom: 10px;
    width: 250px;
  }
  #job-experience {
    display: block;
    margin-bottom: 10px;
    width: 250px;
    background-color: #58894c2c;
  }
  #hobbies {
  display: block;
  margin-bottom: 10px;
  width: 250px;
  background-color: #58894c2c;
}
#about-me-section:hover {
  width: 270px;
}
#my-goals:hover {
  width: 270px;
}
#education:hover {
  width: 270px;
}
#job-experience:hover {
  width: 270px;
}
#hobbies:hover {
  width: 270px;
}
}
