@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap");

:root {
  --bg-color: #58894c2c;
  --bg-color-2: #58894c99;
  --hover-color: #58894c7d;
  --hover-font-size: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/pexels-scott-webb-305821.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
}

nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-end;
}

nav a,
#cdc-icon {
  text-decoration: none;
  padding: 14px 16px;
  color: #58894c;
  font-family: "lucida sans";
  font-weight: bold;
}

nav a:hover,
#cdc-icon:hover,
#cdc-content a:hover {
  text-decoration: underline;
  opacity: 0.8;
  color: black;
}

#cdc-content {
  display: none;
  position: absolute;
  text-align: center;
  width: min-content;
  right: 10px;
}

#cdc-content a {
  display: block;
  font-size: small;
}

#cdc-content a:hover {
  background-color: rgba(187, 169, 169, 0.66);
  border-radius: 1mm;
}

#cdc:hover #cdc-content {
  display: block;
}

#hamburger-icon {
  display: none;
}

#my-picture {
  width: 80%;
  margin: 80px auto 0 auto;
}

#my-picture img {
  border-radius: 10cm;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

#main-content-header {
  font-size: 3em;
  font-family: montserrat;
}

#main-content-welcome {
  font-size: 1.5em;
  font-family: "zen maru gothic";
  color: #58894c;
}

.contents {
  display: flex;
  border-radius: 4mm;
  width: 80%;
  margin: 0 auto;
  padding-top: 150px;
  justify-content: space-around;
}

.section-header {
  font-family: "Lucida Sans";
  text-decoration: underline;
}

.section-content {
  font-family: monospace;
  font-size: 0.8em;
  line-height: 130%;
}

#about-me-section {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 2mm;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-bottom: 10px;
}

#about-me-section:hover {
  background-color: var(--hover-color);
  transform: translateY(2px);
  font-size: var(--hover-font-size);
  width: 220px;
  height: 210px;
}

#my-goals {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-bottom: 10px;
}

#my-goals:hover {
  background-color: var(--hover-color);
  transform: translateY(2px);
  font-size: var(--hover-font-size);
  width: 220px;
  height: 210px;
}

#education {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-bottom: 10px;
}

#education:hover {
  background-color: var(--hover-color);
  transform: translateY(2px);
  font-size: var(--hover-font-size);
  width: 220px;
  height: 210px;
}

#job-experience {
  background-color: var(--bg-color-2);
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-bottom: 10px;
}

#job-experience:hover {
  background-color: var(--hover-color);
  transform: translateY(2px);
  font-size: var(--hover-font-size);
  width: 220px;
  height: 210px;
}

#hobbies {
  background-color: var(--bg-color-2);
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-bottom: 10px;
}

#hobbies:hover {
  background-color: var(--hover-color);
  transform: translateY(2px);
  font-size: var(--hover-font-size);
  width: 220px;
  height: 210px;
}

@media only screen and (max-width: 920px) {
  body {
    background-image: url(/images/pexels-scott-webb-305821.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    font-size: 10px;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    align-items: end;
    margin-left: 70%;
  }

  nav a,
  #cdc {
    width: 50%;
  }

  #hamburger-icon {
    display: block;
    width: 30%;
    margin-left: 70%;
  }

  .navi-link {
    display: none;
    font-size: 12px;
  }

  nav:hover .navi-link {
    display: block;
    background-color: #7d7a7a;
    border-radius: 1mm;
    color: #e9e8e4;
    z-index: 1;
  }

  #cdc-content {
    background-color: #7d7a7a;
    border-radius: 1mm;
    position: absolute;
    right: -60px;
  }

  #cdc-content a {
    display: block;
    font-size: 9px;
    color: #e9e8e4;
  }

  #cdc-icon {
    color: #e9e8e4;
  }

  #cdc-icon:hover {
    color: #e9e8e4;
  }

  #my-picture {
    margin-top: auto;
    text-align: center;
    margin-left: 20%;
  }

  .main-content {
    text-align: center;
    margin-left: 20%;
  }

  .contents {
    width: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
  }

  .section-header {
    font-size: small;
  }

  .section-content {
    font-size: medium;
  }

  #about-me-section {
    background-color: var(--bg-color-2);
  }

  #my-goals {
    background-color: var(--bg-color-2);
  }

  #education {
    background-color: var(--bg-color-2);
  }
}