@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap");
body {
  background-image: url(/images/pexels-scott-webb-305821.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
nav a, #cdc-icon {
  text-decoration: none;
  padding: 10px 16px;
  color: #58894c;
  font-family: "lucida sans";
  font-weight: bold;
}
nav a:hover, #cdc-icon:hover, #cdc-content a:hover {
  text-decoration: underline;
  opacity: 0.8;
  color: black;
}
#cdc-content {
  display: none;
  position: absolute;
  text-align: center;
  right: 5px;
  width: min-content;
}
#cdc-content a {
  display: block;
  font-size: small;
}
#cdc-content a:hover {
  background-color: rgba(187, 169, 169, 0.66);
  border-radius: 1mm;
}
#cdc:hover #cdc-content {
  display: block;
}
#my-picture {
  position: absolute;
  left: 150px;
  top: 40px;
  box-sizing: border-box;
}
#my-picture img {
  border-radius: 10cm;
  position: relative;
  top: 140px;
}
.main-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 320px;
  left: 150px;
}
#main-content-header {
  font-size: 320%;
  font-family: montserrat;
}
#main-content-welcome {
  position: relative;
  bottom: 80px;
  font-size: 180%;
  font-family: "zen maru gothic";
  color: #58894c;
}
.contents {
  display: flex;
  border-radius: 4mm;
  width: 1280px;
  position: relative;
  top: 480px;
  margin: auto;
  justify-content: space-around;
}
#about-me-section {
  display: inline-block;
  background-color: #58894c2c;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 2mm;
  width: 200px;
  height: 200px;
  text-align: center;
}
#about-me-section:hover {
  background-color: #58894c7d;
  transform: translateY(2px);
}
#my-goals {
  display: inline-block;
  background-color: #58894c2c;
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
}
#my-goals:hover {
  background-color: #58894c7d;
  transform: translateY(2px);
}
#education {
  display: inline-block;
  background-color: #58894c2c;
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
}
#education:hover {
  background-color: #58894c7d;
  transform: translateY(2px);
}
#job-experience {
  display: inline-block;
  background-color: #58894c84;
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
}
#job-experience:hover {
  background-color: #58894ccc;
  transform: translateY(2px);
}
#hobbies {
  display: inline-block;
  background-color: #58894c84;
  padding: 20px;
  border-radius: 2mm;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
}
#hobbies:hover {
  background-color: #58894ccc;
  transform: translateY(2px);
}
.section-header {
  font-family: "Lucida Sans";
  position: relative;
  bottom: 15px;
  text-decoration: underline;
}
.section-content {
  font-family: monospace;
  font-size: 100%;
  position: relative;
  bottom: 25px;
}
